:root {
  --bgPrimary: #3d405b;
  --bgBackground: #f4f1de;
  --accent: #e07a5f;
}

.bgPrimary {
  background-color: var(--bgPrimary);
}

.bgBackground {
  background-color: var(--bgBackground);
}

.bgAccent {
  background-color: var(--accent);
}
